//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary-color: #F39044;
$body-color: #2D2723;
$black: #000;
$white: #fff;
$curatedBg: #FBF5F3;
$green:#2B9EB3;
$orange:#F39044;
$menuColor:#2D2723;
$inputColor:#7A828A;
$orange2:#EF8B45;
$orange3:#F08C45;
$dark:#48433F;
$dark2:#2C2924;
$darkGrey:#808080;
$dark3:#9C3F27;
$dark4:#2D2723;



$container-width: 1200px;